/* =============
    Header
============= */


@media only screen and (max-width: 47em) {
    .header {
        position: sticky; 
        display: inline-block;
        top: 0;
        img {
          width: 25%;
        }
        padding: 1%;
        background-color: var(--background);
        opacity: .95;
        
        .horizontalnavigationmenu {
          display: none;
        }

        .dropbtnm {
          color: black;
          background-color: var(--buttonhover);
          padding: 16px;
          font-size: 16px;
          border-radius: 5px;
          cursor: pointer;
        }
        
        .dropdownm {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-contentm {
          display: none;
          position: absolute;
          right: 0;
          background-color: #f9f9f9;
          min-width: 160px;
          z-index: 1;

        }
        
        .dropdown-contentm a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        .dropdown-contentm a:hover {
          background-color: var(--buttonhover);
        }

        
        .dropdownm:hover .dropdown-contentm {
          display: block;
        }
        

    }
}

@media only screen and (min-width: 48em) and (max-width: 62em) {
    .header {
        position: sticky; 
        display: inline-block;
        top: 0;
        img {
            max-width: 15%;
        }
        padding: 1%;
        background-color: var(--background);
        opacity: .95;

      .horizontalnavigationmenu {
        display: none;
      }

      .dropbtnm {
        color: black;
        background-color: var(--buttonhover);
        padding: 16px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
      }
      
      .dropdownm {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-contentm {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
      }
      
      .dropdown-contentm a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-contentm a:hover {
        background-color: var(--buttonhover);
      }

      .dropdownm:hover .dropdown-contentm {
        display: block;
      }
      

    }
}

@media only screen and (min-width: 62em) {
    .header {
        img {
            float: left;
            max-width: 20%;
        }
    .dropdownm {
      display: none;
    }


        padding: 1%;
        .horizontalnavigationmenu {
            li {
                float: left;
                margin-top: 5%;
              }
              
              a {
                display: block;
                padding: 8px;
              }
        
              ul {
                list-style-type: none;
                margin: 0px;
                padding-left: 5%;
                overflow: hidden;
              }
              
              li a, .dropbtn {
                display: inline-block;
                color: var(--offwhite);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                background-color: var(--background);
              }
              

              
              li.dropdown {
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--offwhite);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: var(--offwhite);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
              }
              
              .dropdown-content a:hover {
                background-color: var(--buttonhover)    
            }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
        
        }
        
        
    }
}