/* =============
    Header
============= */


@media only screen and (max-width: 47em) {
    .header {
        position: sticky; 
        display: inline-block;
        top: 0;
        img {
          width: 20%;
        }
        padding: 1%;
        background-color: var(--background);
        opacity: .95;
        .horizontalnavigationmenu {
          display: none;
        }

        .dropbtnm {
          background-color: #4CAF50;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
          cursor: pointer;
          display: inline-block;
        }
        
        .dropdownm {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-contentm {
          display: none;
          position: absolute;
          right: 0;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }
        
        .dropdown-contentm a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
        
        .dropdown-contentm a:hover {background-color: #f1f1f1;}
        
        .dropdownm:hover .dropdown-contentm {
          display: block;
        }
        
        .dropdownm:hover .dropbtnm {
          background-color: #3e8e41;
        }
    }
}

@media only screen and (min-width: 48em) and (max-width: 62em) {
    .header {
        position: sticky; 
        display: inline-flex;
        top: 0;
        img {
            max-width: 15%;
        }
        padding: 1%;
        background-color: var(--background);
        opacity: .95;

      .horizontalnavigationmenu {
        display: none;
      }

    }
}

@media only screen and (min-width: 62em) {
    .header {
        img {
            float: left;
            max-width: 10%;
        }
    .dropdownm {
      display: none;
    }


        padding: 1%;
        .horizontalnavigationmenu {
            li {
                float: left;
                margin-top: 5%;
                list-style-type: none;
              }
              
              a {
                display: block;
                padding: 8px;
              }
        
              ul {
                list-style-type: none;
                margin: 0px;
                padding-left: 5%;
                overflow: hidden;
                background-color: var(--matteblue);
              }
              
              li a, .dropbtn {
                display: inline-block;
                color: var(--offwhite);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                color: var(--white);
              }
              
              li a:hover, .dropdown:hover .dropbtn {
                background-color: var(--mattepurpledark);
              }
              
              li.dropdown {
                display: inline-block;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: var(--offwhite);
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
              }
              
              .dropdown-content a {
                color: var(--black);
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
              }
              
              .dropdown-content a:hover {
                background-color: var(--mattepurplelight)    
            }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
        
        }
        
        
    }
}