/* =============
    Base
============= */

//global styling

body {
    background-color: var(--background);

}

img {
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 47em) {
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: auto 90% auto;
}

.grid-container > div {
    text-align: center;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
  }

  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }


