/* =============
    Base
============= */



body {
    background-color: var(--background);

}

p {

}

.grid-container {
    display: grid;
    grid-template-columns: auto 75% auto;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }



  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
  }

  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--font);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: .9;
  }
  
  #myBtn:hover {
    background-color: var(--buttonhover);
  }