/* =============
    Base
============= */



body {
    background-color: var(--background);

}

p {

}

.grid-container {
    display: grid;
    grid-template-columns: 5% auto 5%;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }



  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: left;
  }

  .footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 5%; /* Place the button at the bottom of the page */
    right: 5%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--font); /* Set a background color */
    color: #000000; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    opacity: .75;
  }

  #myBtn:hover {
    background-color: var(--buttonhover); /* Add a dark-grey background on hover */
  }
